<md-sidenav-container>
  <md-sidenav mode="open" opened="false" #navigation>

    <div ngClass="user-header">
      <div class="user-details">
        <h5>Hello, {{user.displayName}}</h5>
      </div>
    </div>

    <div ngClass="menu-group" *ngFor="let menuGroup of menu">
      <h4 *ngIf="menuGroup.hasOwnProperty('path') && menuGroup.path !== ''; else headerWithoutPath">
        <a routerLink="{{menuGroup.path}}">{{menuGroup.name}}</a>
      </h4>
      <ng-template #headerWithoutPath><h4>{{menuGroup.name}}</h4></ng-template>

      <md-nav-list *ngIf="menuGroup.hasOwnProperty('menu')">
        <a md-line class="mat-list-item" *ngFor="let menuItem of menuGroup.menu" href="{{menuItem.path}}">
          {{menuItem.name}}
        </a>
      </md-nav-list>
    </div>

  </md-sidenav>

  <div ngClass="mdl-layout mdl-js-layout my-content">
    <md-toolbar class="app-toolbar">
      <md-icon (click)="navigation.open()">menu</md-icon>
      <span>Restaurant System</span>
    </md-toolbar>

    <div ngClass="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-shadow--2dp">
          <router-outlet></router-outlet>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>
    </div>
  </div>
</md-sidenav-container>
