<!--
<div layout="colum" layout-align="center" ngSubmit="f.form.valid && login() " >
  <div class="login_container" layout="colum" layout-align="center">
    <form name="login" layout-align="center" ngSubmit="onSubmit(planetForm.value)" #planetform="ngForm" >
      <md-input-container class="account" >
        <input mdInput placeholder="username" type="text" [(ngModel)]="user.name"  name ="user" class="form-control" id="user" required>>
      </md-input-container>
      <md-input-container class="password">
        <input mdInput placeholder="password" type="password" [(ngModel)]="user.password " name="password" class="form-control" id="password" required>>
      </md-input-container>
      <button md-raised-button type="submit" class="login_button"  >
        Log In
      </button>
    </form>
  </div>



</div>
-->
<app-user-login></app-user-login>
